
<head>
<style>
body {background-color: royalblue;}
button{font-family: "Comic Sans MS"; font-size: 200%; display: block;
    margin-left: auto;
    margin-right: auto; margin-top: 50px;}
h1{font-family: "Courier New";
  font-size: 700%; text-align: center}
h4{font-family: "Courier New";
    font-size: 200%; text-align: center}
h2{font-family: "Courier New"; text-align: center; color:darkgrey}
h3{font-family: "Courier New"; text-align: center; color:darkgrey}
</style>
</head>

<body>
<h1> borgr </h1>
<h4> find your nearest burger with one tap <h4>



<form method="POST" action="/handle">
     <button type="submit"><img src="static/icon2.png"></button>
</form>



<h2> created by drew ehrlich for TOHacks 5/2/2020 </h2>

<h3> github.com/deehrlic/borgr <h3>
</body>
